.main {
    width: 100%;

    background-color: #1D2F30;
    color: #fff;
}
.main__container {
    width: 1140px;
    height: auto;

    margin: auto;
    padding: 60px 0 0 0;
}
.flowers__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 30px;
}
.flower__card {
    width: 256px;
    height: 490px;

    border: 1px solid #0B1919;
}

.flower__image-wrapper {
    background-color: #000;
    height: 180px;
    padding: 8px;
}

.flower__content-wrapper {  
    position: relative;
    padding: 16px 0 0 16px;
}

.flower__number {
    border: 1px solid #899D9D;
    border-radius: 360px;

    color: #899D9D;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
}
.flower__img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flower__name {
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

    margin-bottom: 8px;
}
.flower__description {
    width: 224px;

    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #899D9D;

    margin-bottom: 16px;
}

.flower__btn {
    position: absolute;
    top: 232px;

    color: #BAE249;
    border: 1px solid #BAE249;

    background-color: transparent;

    padding: 10px 28px 10px 28px;
}

.flower__pagination {
    display: flex;
    flex-direction: row;

    padding-top: 26px;

    column-gap: 30px;

    width: 100%;
    justify-content: center;
}